In [30]:
import pandas as pd

In [31]:
df1 = pd.read_csv('movie_actor_director.csv')
df2 = pd.read_csv('movies_details.csv')

df1.head()

,movie_id,title,Actor_names,Director_name
0,19995,Avatar,Sam Worthington,James Cameron
1,285,Pirates of the Caribbean: At World's End,Johnny Depp,Gore Verbinski
2,206647,Spectre,Daniel Craig,Sam Mendes
3,49026,The Dark Knight Rises,Christian Bale,Christopher Nolan
4,49529,John Carter,Taylor Kitsch,Andrew Stanton

In [32]:
df2.head()

,id,original_language,overview,title,year,production,ratings,Thriller,Adventure,Animation,...,Comedy,Drama,Crime,War,Action,Music,Western,Family,Documentary,Fantasy
0,19995,English,"In the 22nd century, a paraplegic Marine is di...",Avatar,2009,Ingenious Film Partners,7.2,0,11,0,...,0,0,0,0,22,0,0,0,0,27
1,285,English,"Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,2007,Walt Disney Pictures,6.9,0,11,0,...,0,0,0,0,22,0,0,0,0,27
2,206647,English,A cryptic message from Bond’s past sends him o...,Spectre,2015,Columbia Pictures,6.3,0,11,0,...,0,0,20,0,22,0,0,0,0,0
3,49026,English,Following the death of District Attorney Harve...,The Dark Knight Rises,2012,Legendary Pictures,7.6,10,0,0,...,0,19,20,0,22,0,0,0,0,0
4,49529,English,"John Carter is a war-weary, former military ca...",John Carter,2012,Walt Disney Pictures,6.1,0,11,0,...,0,0,0,0,22,0,0,0,0,0

In [33]:
df = pd.merge(df1, df2, on='title', how='inner')

In [34]:
df = df.drop('id', axis=1)

In [35]:
df.head()

,movie_id,title,Actor_names,Director_name,original_language,overview,year,production,ratings,Thriller,...,Comedy,Drama,Crime,War,Action,Music,Western,Family,Documentary,Fantasy
0,19995,Avatar,Sam Worthington,James Cameron,English,"In the 22nd century, a paraplegic Marine is di...",2009,Ingenious Film Partners,7.2,0,...,0,0,0,0,22,0,0,0,0,27
1,285,Pirates of the Caribbean: At World's End,Johnny Depp,Gore Verbinski,English,"Captain Barbossa, long believed to be dead, ha...",2007,Walt Disney Pictures,6.9,0,...,0,0,0,0,22,0,0,0,0,27
2,206647,Spectre,Daniel Craig,Sam Mendes,English,A cryptic message from Bond’s past sends him o...,2015,Columbia Pictures,6.3,0,...,0,0,20,0,22,0,0,0,0,0
3,49026,The Dark Knight Rises,Christian Bale,Christopher Nolan,English,Following the death of District Attorney Harve...,2012,Legendary Pictures,7.6,10,...,0,19,20,0,22,0,0,0,0,0
4,49529,John Carter,Taylor Kitsch,Andrew Stanton,English,"John Carter is a war-weary, former military ca...",2012,Walt Disney Pictures,6.1,0,...,0,0,0,0,22,0,0,0,0,0

In [36]:
df.to_csv('mergetofile.csv', index=False)

In [37]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['Actor_names'] = le.fit_transform(df['Actor_names'])
df['Director_name'] = le.fit_transform(df['Director_name'])
df['original_language'] = le.fit_transform(df['original_language'])
df['production'] = le.fit_transform(df['production'])

In [38]:
df.head()

,movie_id,title,Actor_names,Director_name,original_language,overview,year,production,ratings,Thriller,...,Comedy,Drama,Crime,War,Action,Music,Western,Family,Documentary,Fantasy
0,19995,Avatar,1716,870,6,"In the 22nd century, a paraplegic Marine is di...",2009,596,7.2,0,...,0,0,0,0,22,0,0,0,0,27
1,285,Pirates of the Caribbean: At World's End,968,754,6,"Captain Barbossa, long believed to be dead, ha...",2007,1236,6.9,0,...,0,0,0,0,22,0,0,0,0,27
2,206647,Spectre,430,1948,6,A cryptic message from Bond’s past sends him o...,2015,256,6.3,0,...,0,0,20,0,22,0,0,0,0,0
3,49026,The Dark Knight Rises,354,355,6,Following the death of District Attorney Harve...,2012,675,7.6,10,...,0,19,20,0,22,0,0,0,0,0
4,49529,John Carter,1877,94,6,"John Carter is a war-weary, former military ca...",2012,1236,6.1,0,...,0,0,0,0,22,0,0,0,0,0

In [39]:
df.to_csv('final.csv', index=False)